# Strings

In [1]:
# String :- A string is a data type in Python, composed of a collection of characters. For example: 'Sandeep','Benakanahalli'

In [2]:
# 1 for single coats
a='sandeepkumar'
print(a)

sandeepkumar

In [3]:
# 2 for double coats
b="sandeepkumar."
print(b)

sandeepkumar.

In [4]:
c="Tin's birthday"
print(c)

Tin's birthday

In [5]:
d='Tim said ,"I am busy today".'
print(d)

Tim said ,"I am busy today".

In [6]:
e='Tim said ,"I\'m busy today".'
print(e)

Tim said ,"I'm busy today".

In [7]:
f = '''hey there!
welcome to Bangaluru'''
print(f)

hey there!
welcome to Bangaluru

# len function

In [8]:
g = 'sandeepkumar'
print(len(g))

12

In [9]:
# 8 when put the space b/t then it is also count in the lenght
h = 'sandeep kumar'
print(len(h))

13

In [10]:
print(h[6])

p

In [11]:
# 10 every new character in single line
stg='sandeepkumar'
for i in stg:
    print(i)

s
a
n
d
e
e
p
k
u
m
a
r

In [12]:
# 11 for print the all character in a single line
stg = 'sandeepkumar'
for i in stg:
    print(i,end='')

sandeepkumar

# slicing

In [13]:
stg = 'sandeepkumar'
print(stg[0:7])
print(stg[:7])
print(stg[7:])
print(stg[2:5])

sandeep
sandeep
kumar
nde

# in-built methods

In [14]:
stg = 'Welcome to Bengaluru.'
print(stg.upper())
print(stg.lower())
print(stg.find('B'))
print(stg.index('B'))
print(stg.split(' '))
print(stg.replace('Bengaluru','Karnataka'))
print(stg.rpartition(' to '))  # convert string to tuple

WELCOME TO BENGALURU.
welcome to bengaluru.
11
11
['Welcome', 'to', 'Bengaluru.']
Welcome to Karnataka.
('Welcome', ' to ', 'Bengaluru.')

# concatenation

In [15]:
stg1 = 'good'
stg2 = 'morning'
print(stg1+' '+stg2)

good morning

In [16]:
stg1 = 'Hey'
stg2 = 'there'
stg3 = 'all'
stg='{} {}, {}!'.format(stg1,stg2,stg3)
print(stg)

Hey there, all!

In [17]:
a='sandeep'
print('w' in a)
print('w' not in a)
print('the string a : %s' %a)

False
True
the string a : sandeep