# Dictionaries in python

In [1]:
# Dictionary is an unordered collection of data stored as a pair of key and value.
# syntax:- variable_name={key1 : value1, key2 : value2,....}

# Sets and Dictionaries

In [2]:
# creating dictionaries

In [3]:
d1 = {}
print(d1)
print(type(d1))

{}
<class 'dict'>

In [4]:
d2 = {1:'Welcome',2:'to',3:'Python',4:'tutorial'}
print(d2)

{1: 'Welcome', 2: 'to', 3: 'Python', 4: 'tutorial'}

In [5]:
d3 = {'name':'sandeep','age':22,'profession':'student'}
print(d3)

{'name': 'sandeep', 'age': 22, 'profession': 'student'}

In [7]:
d4 = dict({1:'Welcome',2:'to',3:'Python',4:'tutorial'})
print(d4)

{1: 'Welcome', 2: 'to', 3: 'Python', 4: 'tutorial'}

In [8]:
d5 = dict([(1,'welcome'),(2,'to'),(3,'python'),(4,'tutorial')])
print(d5)

{1: 'welcome', 2: 'to', 3: 'python', 4: 'tutorial'}

In [9]:
# Nesting
d6 = {'name':{'first':'sandeep','last':'kumar'},'age':22,'profession':'student'}
print(d6)

{'name': {'first': 'sandeep', 'last': 'kumar'}, 'age': 22, 'profession': 'student'}

# Adding elements

In [10]:
d = {}
d[0]='welcome'
print(d)

{0: 'welcome'}

In [12]:
d[1]=('How','are','you')
print(d)

{0: 'welcome', 1: ('How', 'are', 'you')}

In [13]:
d['name']='sandeep'
print(d)

{0: 'welcome', 1: ('How', 'are', 'you'), 'name': 'sandeep'}

In [14]:
d['name']={'first':'sandeep','last':'kumar'}
print(d)

{0: 'welcome', 1: ('How', 'are', 'you'), 'name': {'first': 'sandeep', 'last': 'kumar'}}

# Accessing the elements

In [15]:
print(d)

{0: 'welcome', 1: ('How', 'are', 'you'), 'name': {'first': 'sandeep', 'last': 'kumar'}}

In [16]:
print(d['name'])

{'first': 'sandeep', 'last': 'kumar'}

In [17]:
print(d['name']['first'])

sandeep

In [18]:
print(d.get(1))

('How', 'are', 'you')

# Deleting elements

In [19]:
print(d)

{0: 'welcome', 1: ('How', 'are', 'you'), 'name': {'first': 'sandeep', 'last': 'kumar'}}

In [20]:
d.pop(0)

'welcome'

In [21]:
print(d)

{1: ('How', 'are', 'you'), 'name': {'first': 'sandeep', 'last': 'kumar'}}

In [22]:
d.popitem()

('name', {'first': 'sandeep', 'last': 'kumar'})

In [23]:
print(d)

{1: ('How', 'are', 'you')}

# using built-in function

In [24]:
d = {0: 'welcome', 1: ('How', 'are', 'you'), 'name': {'first': 'sandeep', 'last': 'kumar'}}
print(d)

{0: 'welcome', 1: ('How', 'are', 'you'), 'name': {'first': 'sandeep', 'last': 'kumar'}}

In [25]:
d.values()

dict_values(['welcome', ('How', 'are', 'you'), {'first': 'sandeep', 'last': 'kumar'}])

In [26]:
keys = {'a','b','c','d'}
value = 1
dict.fromkeys(keys,value)

{'b': 1, 'd': 1, 'a': 1, 'c': 1}

In [27]:
d.clear()

In [28]:
print(d)

{}

# Set

In [29]:
# set is an unordered collection of unique elements.
# sets are mutable.
# syntax:- variable_name = set(['a','b','c','d'])

In [30]:
s = set([1,2,3,4])
print(s)
print(type(s))

{1, 2, 3, 4}
<class 'set'>

In [31]:
s.add('a')
print(s)

{1, 2, 3, 4, 'a'}

In [34]:
# but frozensets are not mutable.

In [32]:
fs = frozenset([1,2,3,4])
print(fs)

frozenset({1, 2, 3, 4})

In [33]:
fs.add('a')
print(fs)

AttributeError: 'frozenset' object has no attribute 'add'

In [39]:
s1 = set([2,11,3,7])
s2 = set([6,2,9,10])

In [40]:
s1.union(s2) # here union is arrange elements in order and repeted elements are removed.

{2, 3, 6, 7, 9, 10, 11}

In [41]:
s1.difference(s2)

{3, 7, 11}