# for loop

In [1]:
# for loop is used to iterate over a sequence, which could be a list, tuple, array or a string.
# Syntax
    # for counter in sequence:
        # statement(s)

In [2]:
x = [1,3.4,'sandeep']
print(x[0],x[1],x[2])

1 3.4 sandeep

In [3]:
x = [1,3.4,'sandeep']
for i in x:
    print(i)

1
3.4
sandeep

In [6]:
x = 'sandeep'
for i in x:
    print(i)

s
a
n
d
e
e
p

In [7]:
x = 'sandeep'
for i in x:
    print(i,end='')

sandeep

In [8]:
for i in range(0,20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [9]:
for i in range(0,21,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20

In [10]:
# sum of even numbers
sum=0
for i in range(0,21):
    if i%2==0:
        sum=sum+i
print(sum)

110

In [12]:
# print the given pattern
    # 1
    # 12
    # 123
    # 1234
    # 12345

n = int(input('Enter the number '))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end='')
    print()

Enter the number 5
1
12
123
1234
12345

In [7]:
r = int(input('Enter number of rows '))
c = int(input('Enter number of columns '))
x = []
va1 = []
for i in range(0,r):
    for j in range(0,r):
        va1.insert(j,input('Enter the %d * %d elements ' %(i,j)))
    x.insert(i,va1)
    va1 = []
y = []
for i in range(0,r):
    for j in range(0,c):
        va1.insert(j,input('Enter the %d * %d elements ' %(i,j)))
    y.insert(i,va1)
    va1 = []
sum=[]

for i in range(0,r):
    for j in range(0,c):
        va1.insert(j,x[i][j]+y[i][j])
    sum.insert(i,va1)
    va1=[]
    print(sum)
# Here [['15', '26'], ['37', '48']] just cancatenate the numbers are 1 & 5, 2 & 6, 3 & 7, 4 & 8.

Enter number of rows 2
Enter number of columns 2
Enter the 0 * 0 elements 1
Enter the 0 * 1 elements 2
Enter the 1 * 0 elements 3
Enter the 1 * 1 elements 4
Enter the 0 * 0 elements 5
Enter the 0 * 1 elements 6
Enter the 1 * 0 elements 7
Enter the 1 * 1 elements 8
[['15', '26']]
[['15', '26'], ['37', '48']]

In [8]:
r = int(input('Enter number of rows '))
c = int(input('Enter number of columns '))
x = []
va1 = []
for i in range(0,r):
    for j in range(0,r):
        va1.insert(j,int(input('Enter the %d * %d elements ' %(i,j))))
    x.insert(i,va1)
    va1 = []
y = []
for i in range(0,r):
    for j in range(0,c):
        va1.insert(j,int(input('Enter the %d * %d elements ' %(i,j))))
    y.insert(i,va1)
    va1 = []
sum=[]

for i in range(0,r):
    for j in range(0,c):
        va1.insert(j,x[i][j]+y[i][j])
    sum.insert(i,va1)
    va1=[]
    print(sum)
# Here [[6, 8], [10, 12]] the sum operation between elements of 1st,2nd,3rd and 4th those are 1 & 5, 2 & 6, 3 & 7, 4 & 8.

Enter number of rows 2
Enter number of columns 2
Enter the 0 * 0 elements 1
Enter the 0 * 1 elements 2
Enter the 1 * 0 elements 3
Enter the 1 * 1 elements 4
Enter the 0 * 0 elements 5
Enter the 0 * 1 elements 6
Enter the 1 * 0 elements 7
Enter the 1 * 1 elements 8
[[6, 8]]
[[6, 8], [10, 12]]