# DATA TYPES

# Integer

In [1]:
x=100
type(x)

int

In [2]:
x=654*6734
type(x)

int

In [3]:
print(x)

4404036

# Float

In [4]:
x=3.14
print(x)
type(x)

3.14

float

# String

In [1]:
x='Sandeepkumar'
print(x)
type(x)

Sandeepkumar

str

In [3]:
x="Sandeepkumar"
print(x)
type(x)

Sandeepkumar

str

# Lists

In [4]:
x = [14,67,8]
print(x)
type(x)

[14, 67, 8]

list

In [9]:
print(x[0])
print(x[2])

14
8

In [10]:
x[2]=88
print(x)

[14, 67, 88]

# Tuples

In [11]:
x = (4,2,56)
print(x)
type(x)

(4, 2, 56)

tuple

In [12]:
print(x[1])

2

In [13]:
x[1]=23

TypeError: 'tuple' object does not support item assignment

## Difference between list and tuple is:
###   In list we can edit the values but not in tuples.

In [5]:
x=5
y=7
z=56
print(x)
print(y)
print(z)

5
7
56

In [6]:
(x,y,z)=5,10,46
print(x)
print(y)
print(z)

5
10
46

In [7]:
(x,y)=5,10,46

ValueError: too many values to unpack (expected 2)

In [12]:
(x,y,z)=1,1,1
print(x,y,z)

1 1 1

In [9]:
x=y=z=1
print(x,y,z)

1 1 1

# Rules for naming variables

# right way.
## abc,_abc,a100,_a365_

# wrong way.
## 3a,@abc,a938&,xyz-2,

In [13]:
abc=2774

In [14]:
_abc=75

In [15]:
3a=56387

SyntaxError: invalid decimal literal (3339695920.py, line 1)

In [16]:
@abc=3525

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1657535386.py, line 1)

In [17]:
a100=100

In [19]:
_a274_=100

In [20]:
a9972$=100

SyntaxError: invalid syntax (417279273.py, line 1)

In [21]:
xyz-2=100

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3328636375.py, line 1)

# variables are case sensitive
### a100,A100

In [23]:
a100=100
A100=200
print(a100)
print(A100)

100
200

# Reserved words cannot be used as variable names

In [24]:
break=10

SyntaxError: invalid syntax (875108267.py, line 1)

In [25]:
class=273

SyntaxError: invalid syntax (294031809.py, line 1)

In [26]:
try=74

SyntaxError: expected ':' (2560303947.py, line 1)