### Tuples :- Tuple is a collection of immutable heterogeneous python objects.

In [1]:
emp=()
print(type(emp))

<class 'tuple'>

In [2]:
print(emp)

()

In [6]:
city='pune',
type(city)
print(city)

('pune',)

In [5]:
city=('pune')
city

'pune'

In [4]:
city=('pune',)
city

('pune',)

In [7]:
city=('pune','Bengaluru','delhi','mumbai')
city

('pune', 'Bengaluru', 'delhi', 'mumbai')

In [8]:
city='pune','Bengaluru','delhi','mumbai'
city

('pune', 'Bengaluru', 'delhi', 'mumbai')

In [10]:
list1=[1,2,3,4]
tuple1=(1,2,3,4)
list1.append(5)
print(list1)

[1, 2, 3, 4, 5]

In [11]:
tuple1.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [12]:
print(city)

('pune', 'Bengaluru', 'delhi', 'mumbai')

In [13]:
city[1]

'Bengaluru'

In [14]:
city[-1]

'mumbai'

# concatenation

In [15]:
print(city)

('pune', 'Bengaluru', 'delhi', 'mumbai')

In [16]:
num=1,2,3,4

In [17]:
print(city+num)

('pune', 'Bengaluru', 'delhi', 'mumbai', 1, 2, 3, 4)

# Nesting

In [18]:
nest=(city,num)
print(nest)

(('pune', 'Bengaluru', 'delhi', 'mumbai'), (1, 2, 3, 4))

# Repetition

In [19]:
rep=('Python',)*5
rep

('Python', 'Python', 'Python', 'Python', 'Python')

In [20]:
rep=('Python',)
print(rep*10)

('Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python')

In [21]:
rep

('Python',)

# Slicing

In [22]:
num

(1, 2, 3, 4)

In [23]:
num[1:]

(2, 3, 4)

In [24]:
num[::-1]

(4, 3, 2, 1)

# Unpacking

In [25]:
tuple('Sandeep')

('S', 'a', 'n', 'd', 'e', 'e', 'p')

In [26]:
print(num)

(1, 2, 3, 4)

In [27]:
a,b,c,d=num

In [29]:
print(a,b,c,d)

1 2 3 4

In [34]:
a,*b,c=num
print(a,b,c)

1 [2, 3] 4

# Deleting a tuple

In [35]:
tuple1=(1,2,3,4)
print(tuple1)

(1, 2, 3, 4)

In [36]:
del tuple1

In [37]:
print(tuple1)

NameError: name 'tuple1' is not defined

# Built-in function

In [38]:
num1=(3,5,2,2,2,2,6,5,8)

In [40]:
num1.count(2)

4

In [41]:
sum(num1)

35

In [42]:
len(num1)

9

In [43]:
max(num1)

8

In [44]:
min(num1)

2

# Converting list to tuple

In [45]:
lst=[1,2,3,4]
print(type(lst))

<class 'list'>

In [46]:
tpl=tuple(lst)

In [47]:
print(tpl)

(1, 2, 3, 4)

In [48]:
type(tpl)

tuple

# Nesting tuples in a list

In [57]:
lst=[(1,2,3),(4,5,6)]
print(lst)

[(1, 2, 3), (4, 5, 6)]

In [58]:
lst.append(('Tuple','inside','list'))
print(lst)

[(1, 2, 3), (4, 5, 6), ('Tuple', 'inside', 'list')]

In [59]:
lst.remove((1,2,3))
print(lst)

[(4, 5, 6), ('Tuple', 'inside', 'list')]

# Nesting Lists within tuples

In [60]:
tpl=(['a','b','c'],['d','e','f'])
print(tpl)

(['a', 'b', 'c'], ['d', 'e', 'f'])

In [61]:
tpl[0].append('z')
print(tpl)

(['a', 'b', 'c', 'z'], ['d', 'e', 'f'])

In [62]:
tpl[0].remove('z')
print(tpl)

(['a', 'b', 'c'], ['d', 'e', 'f'])

In [63]:
tpl.append(['x','y','z'])
print(tpl)

AttributeError: 'tuple' object has no attribute 'append'